<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Banco de Sangre</title>
    <link rel="stylesheet" href="/css/login_register.css">

    <link rel="stylesheet" href="/css/bancosangre.css">
      
    

</head>
<body>
<div class="login-container">
    <h2>Banco de Sangre</h2>

    <form action="/banco/login" method="POST">
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Ingresar</button>
    </form>

    <p style="color:red;">[[${error}]]</p>
</div>
</body>
</html>
