<!-- templates/bancopanel.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel del Banco de Sangre</title>

    <link rel="stylesheet" href="/css/bancopanel.css">
      

   
    
</head>
<body>

<div class="panel-container">
    <h1>Panel Banco de Sangre</h1>

    <div class="botones">
        <button onclick="window.location.href='/banco/donantes'">Ver Donantes Registrados</button>
        <button onclick="window.location.href='/banco/unidades'">Unidades Disponibles</button>
        <button onclick="window.location.href='/banco/modificar'">Modificar Unidades</button>
    </div>
</div>

</body>
</html>

